header[role="banner"] #logo-main {
	display: block;
	margin: 20px auto;
}
#navbar-primary.navbar-default {
	background: transparent;
	border: none;
}
#navbar-primary.navbar-default .navbar-nav {
	width: 100%;
	text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
	display: inline-block;
	float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
	padding-left: 30px;
	padding-right: 30px;
}
#carouselExample .carousel-item {
	justify-content: center;
	align-items: center;
}

#carouselExample .carousel-item img {
	max-height: 600px;
	width: auto;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#carouselExample .carousel-item h5,
p {
	color: rgb(234, 9, 178);
}
/* ===== TO FIX ==== */
.carousel-item .card {
	max-width: 90%;
}
/* ===== ./ TO FIX ==== */
.fa-arrow-right {
	font-size: 2.5rem;
	color: #efc8d4;
}
.fa-arrow-left {
	font-size: 2.5rem;
	color: #efc8d4;
}

.new-york-times {
	color: #676264;
}
.navbar .navbar-nav .nav-link {
	color: #fff;
	font-size: 1.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.navbar .navbar-nav .nav-link:hover {
	color: #efc8d4;
	opacity: 0.8;
}

@media screen and (min-width: 992px) {
	.navbar .navbar-nav .nav-link {
		padding-left: 2em;
		padding-right: 3em;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
		border-right: 3px solid #fff;
	}
}

footer .btn {
	border: 1px solid #4f6f52;
	color: #4f6f52;
	background-color: #fffaf4;
}
footer .btn:hover,
footer .nav-link:hover {
	color: black;
}

footer .btn:hover {
	background-color: #739072;
}
