header[role="banner"] #logo-main {
	display: block;
	margin: 20px auto;
}
#navbar-primary.navbar-default {
	background: transparent;
	border: none;
}
#navbar-primary.navbar-default .navbar-nav {
	width: 100%;
	text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
	display: inline-block;
	float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
	padding-left: 30px;
	padding-right: 30px;
}
#carouselExample .carousel-item {
	justify-content: center;
	align-items: center;
}

#carouselExample .carousel-item img {
	max-height: 600px;
	width: auto;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#carouselExample .carousel-item h5 {
	color: rgb(234, 9, 178);
}
/* ===== TO FIX ==== */
.carousel-item .card {
	max-width: 90%;
}
/* ===== ./ TO FIX ==== */
.fa-arrow-right {
	font-size: 2.5rem;
	color: #efc8d4;
}
.fa-arrow-left {
	font-size: 2.5rem;
	color: #efc8d4;
}

.colour-span {
	color: #4f6f52;
}
.navbar .navbar-nav .nav-link {
	color: #fff;
	font-size: 1.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.navbar .navbar-nav .nav-link:hover {
	color: #eee7da;
	opacity: 0.8;
}

@media screen and (min-width: 992px) {
	.navbar .navbar-nav .nav-link {
		padding-left: 2em;
		padding-right: 3em;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
		border-right: 3px solid #fff;
	}
}

footer .btn {
	border: 1px solid #4f6f52;
	color: #4f6f52;
	background-color: #eee7da;
}
footer .btn:hover,
footer .nav-link:hover {
	color: black;
}

footer .btn:hover {
	background-color: #739072;
}

.custom-btn {
	border: 1px solid #4f6f52;
	color: #4f6f52;
	background-color: #eee7da;
}
.custom-btn-form {
	border: none;
	color: #4f6f52;
	background-color: #eee7da;
}
.custom-btn:hover,
.custom-btn-form:hover {
	background-color: #739072;
	/* border: none; */
}

.custom-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
#book-search-form {
	margin: auto;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	font-family: "Arial", sans-serif;
}

.input-group-text {
	background-color: #afc8ad;
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 5px 0 0 5px;
}

.form-control {
	border: 2px solid #efc8d4;
	border-left: none;
}

.form-control:focus {
	box-shadow: 0 0 5px #efc8d4;
}
